* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
/* body {
   height: 100vh;
}

.container {
   position: relative;
   width: 80%;
   height: 80%;
   border: 1px solid;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.container__absolute {
   position: absolute;
   border: 1px solid;
   width: 90%;
   height: 90%;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: aliceblue;
} */
/* .container__absolute_japan {
   position: absolute;
   border: 1px solid;
   width: 200px;
   height: 200px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border-radius: 50%;
   background-color: red;
} */





input[name="star"] {
   display: none;
}

label {
   color: lightgray;
}



input:checked~label {
   color: goldenrod;
}


input~label:hover {
   color: goldenrod;
   transition: 2s;
}

.reiting {
   display: flex;
   flex-direction: row-reverse;
   width: max-content;
}

